body {
    margin: 0px;
}

.message-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.message-display {
    height: 100%;
    flex: 2;
    position: relative;
}

.message-display-header {
    position: sticky;
    height: 55px;
    width: 100%;
    background-color: rgb(44, 173, 44);
    color: white;
    display: flex;
}

.message-display-body {
    height: calc(100% - 55px);
} 
.message-display-body-messages {
    height: calc(100% - 80px);
    overflow: scroll;
}
.message-display-body-input {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: rgb(218, 218, 218);
}

#message-input {
    width: 60%;
    height: 30px;
}

.send-button {
    margin: 0px 10px 0px 20px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: rgb(53, 136, 208);
}


.contact-list {
    height: 100%;
    flex: 1;
    background-color: rgb(161 239 161);
    color: white;
}

.contact-list-search-box {
    background-color: rgb(222, 222, 222);
    height: 40px;
    padding: 10px;
    text-align: center;
}

.contact-list-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 50px;
    cursor: pointer;
}

.contact-list-container {
    height: calc(100% - 80px);
    overflow: scroll;
}

.message-label {
    margin: 5px 10px 5px 10px;
    background-color: #7de77d;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}